@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --black: #000000;
    --blue: #1098f7;
    --gray: #efe7e7;

    outline: none;
    scroll-behavior: smooth;
}

body {
    background-color: var(--black);
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: "Poppins";
    color: white;
    justify-content: center;
    align-items: center;
}

.wrapper img {
    padding: 15px;
    width: auto;
    height: 50vh;
}

.wrapper p {
    font-size: 18px;
}

.link {
    text-decoration: underline;
    color: var(--blue);
    transition: all 0.4s ease;
}

.link:hover {
    font-size: 20px;
} 

.dislink {
    text-decoration: underline;
    color: var(--blue);
    transition: all 0.4s ease;
    font-size:24px;
}

.dislink:hover {
    font-size: 28px;
} 

.cubelink {
    text-decoration: underline;
    color: var(--blue);
    transition: all 0.4s ease;
}

@media screen and (max-width: 992px) { 
    /* .wrapper { 
        height: 100%; 
        margin-top: auto; 
        justify-content: space-between; 
        align-self: center; 
    } */
    .wrapper h1 {
        font-size: 20px; 
        width: 30vh; 
        border-width: 3px; 
    }
    .wrapper img {
        height: 25vh; 
    } 
    .wrapper p {
        font-size: 15px; 
    } 
    .link:hover {
        font-size: 17px;
    }
}
