@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body {
    background-color:black;
}
h1 {
    font-family: "Poppins";
    color:white;
}
h2 {
    font-family: "Poppins";
    color:white;
}
h3 {
    font-family: "Poppins";
    color:white;
}
ul {
    font-family: "Poppins";
    color:white;
}
li { /*for redundancy*/
    font-family: "Poppins";
    color:white;
}
p {
    font-family: "Poppins";
    color:white;
}
